@import '../_colors.scss';

@each $theme in $themes {
  .#{$theme} {
    transition: all 0.5s linear;
    color: map_get($colorText, $theme);
    // font-family: 'Share Tech Mono', monospace;
    font-family: 'Audiowide', sans-serif;
    background: map_get($background, $theme);

    a:hover {
      color: map_get($colorHrefText, $theme)
    }

    .bg {
      background: map_get($background, $theme);
    }
  }
}

.bg {
  z-index: -10000000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-space {
  flex: 1;
}