@import '../_colors.scss';

@each $theme in $themes {
  .#{$theme} {
    transition: all 0.5s linear;
    color: map_get($colorText, $theme);
    // font-family: 'Share Tech Mono', monospace;
    font-family: 'Audiowide', sans-serif;
    background: map_get($background, $theme);
  }
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-space {
  flex: 1;
}