@import '../_colors.scss';

@each $theme in $themes {
  .#{$theme} {
    transition: all 0.5s linear;
    background: map_get($background, $theme);
    color: map_get($colorText, $theme);

    a {
      color: map_get($colorText, $theme)
    }

    a:hover {
      color: map_get($colorHrefText, $theme)
    }

    .bg {
      background: map_get($background, $theme)
    }

    .text-highlighted {
      color: map_get($colorHighlighted, $theme)
    }

    .text-additional {
      color: map_get($colorAdditionalText, $theme)
    }

    .text-success {
      color: map_get($colorSuccessText, $theme)
    }

    .text-fail {
      color: map_get($colorFailText, $theme)
    }
  }
}

* {
  font-family: 'Audiowide', sans-serif;
}

.bg {
  z-index: -10000000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-space {
  flex: 1;
}
