@import '../_colors.scss';

.field {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.field-valid input {
  box-shadow: 0px 0px 8px $colorActive,
              0px 0px 8px $colorActive !important;
  border-color: $colorActive !important;
}


.field .counter {
  $height: 31px;
  font-size: 0.8em;
  width: 50px;
  height: $height;
  margin-top: -$height;
  margin-right: 7px;
}

.field .label {
  margin-top: 7px;
  height: 20px;
  width: 100%;
  transform: translateY(35px);
  transition: all 0.1s linear;
}

.field:hover .label, .field input[value=""] .label, .label-out{
  font-size: 0.8m !important;
  transform: translateY(0) !important;
  transition: all 0.2s linear !important;
}

.field input[type="text"] {
  width: calc(100% - 7px);
  padding: 10px;
  padding-right: 50px;
  margin: 7px;
  min-width: 200px;
  border: 1px solid $colorLight;
  background: transparent;
  color: $textColor;
  box-shadow: inset 0px 0px 4px $colorLight,
              0px 0px 1px $colorLight;
              outline: none;
  font-family: 'Share Tech Mono', monospace;
  box-sizing: border-box;
}

.field input::placeholder {
  color: transparent;
}
