@import '../animation/_loop.scss';
@import '../animation/_loop_header.scss';
@import '../_colors.scss';

@each $theme in $themes {
  .#{$theme} {
    $clrCntr: nth(map_get($gradientColorsLoop, $theme), 1);
    $clrSide: nth(map_get($gradientColorsLoop, $theme), 2);
    .loop_bg {
      animation-name: loop-anim-#{$theme};
    }
    .loop::before, .loop::after {
      background: linear-gradient(70deg, $clrSide 40%, $clrCntr 41%, $clrSide 100%);
      animation-name: loop-anim-#{$theme};
    }
    .loop_header {
      background: map_get($gradientHeaderLoop, $theme);
    }
  }
}

.loop {
  margin: 8px;
}

.loop_bg {
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

.loop::before, .loop::after {
  content: '';
  height: 2px;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: relative;
  margin: auto;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

.loop_header {
  z-index: 10000000000000000000;
  top: 0;
  left: 0;
  position: fixed;
  height: 4px;
  width: 100%;
  animation-name: loopHeaderAnim;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-play-state: running;
  animation-iteration-count: infinite;
}