@import '../_colors.scss';

.stable th, .stable td {
  padding: 10px;
}

.stable th {
  color: $colorLight;
}

.stable td {
  background: $gradient;
}

.stable td:hover {
  background: $gradientActive;
  color: black;
  transition: color 0.2s ease-out;
}

.stable {
  margin: 10px;
  cursor: default;
  border: 2px solid $colorDim;
}