@import '../_colors.scss';
@import '../animation/_end_turn_msg.scss';

@each $theme in $themes {
  .#{$theme} {
    .circle {
      border: 3px solid map_get($colorBorder, $theme)
    }
  }
}

.turn-number-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: turnAnim 500ms linear;
  animation-fill-mode: forwards;
}

.turn-number {
  font-size: 58pt
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  display: flex;
  align-items: center;
  justify-content: center
}