@import '../_colors.scss';
@import '../animation/_loop_header.scss';
@supports (-webkit-background-clip: text) {
  @each $theme in $themes {
    .#{$theme} {
      .help-panel .description {
        border: 2px solid map_get($colorBorderLight, $theme);
        box-shadow: 0 0 8px map_get($colorBorderLight, $theme);
      }
    }
  }
}

.help-panel-bg, .help-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.descr-line {
  padding: 0;
  margin: 4px;
}
.help-panel-bg {
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000000000;
}
.help-panel {
  user-select: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000002;
  opacity: 1.0 !important;
  .text-additional {
    font-size: 10pt;
    text-align: center;
  }
  .description {
    max-width: 600px;
    padding: 40px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.98);
    text-align: justify;
  }
}