@import '../animation/_preloader.scss';
@import '../_colors.scss';

@each $theme in $themes {
  .#{$theme} {

    .fade-enter-active, .fade-leave-active {
      transition: opacity 1s;
    }

    .fade-enter, .fade-leave-to {
      opacity: 0;
    }

    .fade-leave-to {
      transition: opacity 0.2s;
    }

    #loading {
      font-size: 32pt;
      cursor: default;
      perspective: 500px;
      color: white;
      animation-name: loading_motion;
      animation-duration: 60s;
      animation-timing-function: linear;
      animation-direction: normal;
      animation-play-state: running;
      animation-iteration-count: infinite;
    }

    #loading::after {
      content: 'Loading'
    }

    .star {
      position: fixed;
      width: 2px;
      height: 2px;
      background: white;
      box-shadow: 0 0 5px white;
      border-radius: 2px;
      animation-name: star_motion;
      animation-duration: 1s;
      animation-delay: -10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: reverse;
    }

    .background {
      perspective: 500px;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: map_get($loadingBackground, $theme);
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}