@import '../_colors.scss';

@each $theme in $themes {
  .#{$theme} {
    .field-valid input {
      box-shadow: 0px 0px 8px map_get($colorBorderActive, $theme),
                  0px 0px 8px map_get($colorBorderActive, $theme) !important;
      border-color: map_get($colorBorderActive, $theme) !important;
    }
    .field input {
      border: 1px solid map_get($colorBorderLight, $theme);
      color: map_get($colorText, $theme);
      box-shadow: inset 0px 0px 4px map_get($colorBorderLight, $theme),
                  0px 0px 1px map_get($colorBorderLight, $theme);
                  outline: none;
    }
    .field:hover input::placeholder, .label-out input::placeholder {
      color: transparentize(map_get($colorText, $theme), 0.7) !important;
    }
  }
}

.field {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.field .counter {
  $height: 31px;
  font-size: 0.8em;
  width: 50px;
  height: $height;
  margin-top: -$height;
  margin-right: 7px;
}
.field .label {
  margin-top: 7px;
  height: 20px;
  width: 100%;
  transform: translateY(35px);
  transition: all 0.1s linear;
}
.field:hover .label, .label-out .label {
  font-size: 0.8m !important;
  transform: translateY(0) !important;
  transition: all 0.2s linear !important;
}
.field input {
  width: calc(100% - 7px);
  padding: 10px;
  padding-right: 50px;
  margin: 7px;
  min-width: 200px;
  background: transparent;
  font-family: 'Share Tech Mono', monospace;
  box-sizing: border-box;
}
.field input[type="number"] {
  padding-right: 7px;
}
.field input::placeholder {
  color: transparent;
  transition: color 0.2s linear;
}